@model TARpe21ShopSivadi.Models.Car.CarDetailsDeleteViewModel
@if (Model.IsDelete)
{
    <h1>Delete</h1>
}
else
{
    <h1>Details</h1>
}
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">

        <div class="form-group-row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Id)
        </div>

        <div class="form-group-row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="form-group-row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="form-group-row">
            <label asp-for="Type" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Type)
        </div>

        <div class="form-group-row">
            <label asp-for="IsElectric" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsElectric)
        </div>

        <div class="form-group-row">
            <label asp-for="ExteriorColor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ExteriorColor)
        </div>

        <div class="form-group-row">
            <label asp-for="InteriorColor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.InteriorColor)
        </div>

        <div class="form-group-row">
            <label asp-for="WindowColor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.WindowColor)
        </div>

        <div class="form-group-row">
            <label asp-for="IsSteeringLeft" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsSteeringLeft)
        </div>

        <div class="form-group-row">
            <label asp-for="NumOfSeats" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NumOfSeats)
        </div>

        <div class="form-group-row">
            <label asp-for="NumOfWheels" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.NumOfWheels)
        </div>

        <div class="form-group-row">
            <label asp-for="PassengerCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.PassengerCount)
        </div>

        <div class="form-group-row">
            <label asp-for="FuelConsumptionPerHour" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.FuelConsumptionPerHour)
        </div>

        <div class="form-group-row">
            <label asp-for="Engine" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Engine)
        </div>

        <div class="form-group-row">
            <label asp-for="EnginePower" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EnginePower)
        </div>

        <div class="form-group-row">
            <label asp-for="MaxSpeed" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.MaxSpeed)
        </div>

        <div class="form-group-row">
            <label asp-for="Drive" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Drive)
        </div>

        <div class="form-group-row">
            <label asp-for="GearType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.GearType)
        </div>

        <div class="form-group-row">
            <label asp-for="IsTransmissionManual" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsTransmissionManual)
        </div>

        <div class="form-group-row">
            <label asp-for="Manufacturer" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Manufacturer)
        </div>

        <div class="form-group-row">
            <label asp-for="HasConditioner" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.HasConditioner)
        </div>

        <div class="form-group-row">
            <label asp-for="HasHeatedSeats" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.HasHeatedSeats)
        </div>

        <div class="form-group-row">
            <label asp-for="HasTouchscreen" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.HasTouchscreen)
        </div>

        <div class="form-group-row">
            <label asp-for="DoesHaveExtendedCab" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.DoesHaveExtendedCab)
        </div>

        <div class="form-group-row">
            <label asp-for="IsCarPreviouslyOwned" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.IsCarPreviouslyOwned)
        </div>

        <div class="form-group-row">
            <label asp-for="BuiltAtDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.BuiltAtDate)
        </div>

        <div class="form-group-row">
            <label asp-for="MaintenanceCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.MaintenanceCount)
        </div>

        <div class="form-group-row">
            <label asp-for="LastMaintenance" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.LastMaintenance)
        </div>

        <div class="form-group-row">
            <label asp-for="ModifiedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.ModifiedAt)
        </div>

        <div class="form-group-row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.CreatedAt)
        </div>

    </dl>

    <hr />

    @if (Model.FileToApiViewModels != null)
    {
        @foreach (var images in Model.FileToApiViewModels)
        {
            <partial name="_Images" model="images" />
            @* <input asp-action="removeImage" asp-controller="cars" asp-route-imageID="@images.ImageId" type="submit" class="btn btn-danger" value="Remove Image" /> *@
        }
    }
</div>
@* <hr /> *@
@if (Model.IsDelete)
{
    <form asp-action="DeleteConfirmation">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="cars" class="btn btn-primary">Back</a>
    </form>
} else
{
    <a asp-action="Update" asp-route-id="@Model.Id" asp-controller="cars" class="btn btn-primary">Edit</a>
    <a asp-action="Index" asp-controller="cars" class="btn btn-primary">Back</a>
}