@model TARpe21ShopSivadi.Models.Weather.WeatherViewModel
@{
    ViewData["Title"] = "Weather Forecast";
}
<div style="display: flex; width: 100%; flex-direction: row; justify-content: center; align-items: center;">
    <div class="container-fluid">
        <h1>City</h1>
        <h4>Displaying results for @Model.City</h4>
        <div class="weather-description">
            @* <h3>@Model.Description</h3> *@
            <div class="weather-icon2">
                <img src="@Model.Icon" alt="weather icon" />
            </div>
        </div>
        
    </div>
</div>
<div>
    <hr />
    <dl class="row">
        <div class="form-group-row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="form-group-row">
            <label asp-for="Location" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Location)
        </div>
        <div class="form-group-row">
            <label asp-for="Date" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Date)
        </div>
        <div class="form-group-row">
            <label asp-for="EpochDate" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.EpochDate)
        </div>
        <div class="form-group-row">
            <label asp-for="Category" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Category)
        </div>
        <div class="form-group-row">
            <label asp-for="Temp" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Temp)
        </div>
        <div class="form-group-row">
            <label asp-for="TempMinValue" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMinValue)
        </div>
        <div class="form-group-row">
            <label asp-for="TempMaxValue" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.TempMaxValue)
        </div>
        @* <div class="form-group-row">
            <label asp-for="Icon" class="col-sm-2 col-form-label"></label>
        </div> *@
    </dl>
</div>